<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" align = "left">
    <p><strong class="add"><%= form.label :caption %></strong></p>
    <p><%= form.text_area :caption %></p>

    <p><strong class="add"><%= form.label :Image %></strong></p>
    <%= form.file_field :images, multiple: true %><br>
  </div>

  <div class="actions" align = "left">
    <%= form.submit "Create"%>
  </div>
<% end %>
