<li class="nav-item">
  <%= link_to "Home", posts_path, class: "nav-link" %>
</li>

<li class="nav-item">
  <%= link_to "Create Post", new_post_path, class: "nav-link" %>
</li>

<li class="nav-item">
<%= link_to "Find Friends", users_path, class: "nav-link" %>
</li>

<li class="nav-item">
<%= link_to "My Profile", profile_path, class: "nav-link" %>
</li>

<li class="nav-item">
<%# <%= link_to "Messaging", conversations_path, class: "nav-link" %>
</li>

<li class="nav-item">
<%= link_to "Chat", chats_path, class: "nav-link" %>
</li>

<li class="nav-item">
  <%= form_tag users_path, :method => 'get' do %>
     <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
</li>
